@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 375px;
  }
  /* HEADER */
  .header > .container {
    width: 100%;
    max-width: 345px;
  }

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .slogan > .container {
    width: 343px;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .slogan {
    padding-top: 40px;
    padding-bottom: 24px;
  }

  /* ABOUT COMPANY */

  .about-company > .container {
    width: 343px;
    max-width: 100%;
  }

  .about-company {
    padding-top: 10px;
    padding-bottom: 51px;
  }
}
