@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 375px;
  }
  /* HEADER */
  .header > .container {
    width: 100%;
    max-width: 375px;
  }

  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
