@media screen and (min-width: 1200px) {
  .container {
    width: 1440px;
  }

  .header > .container {
    max-width: 1360px;
    width: 100%;
    display: flex;
    align-items: flex-start;
  }

  .header {
    padding-top: 36px;
    padding-bottom: 22px;
  }

  .header-menu {
    display: flex;
    flex-direction: column-reverse;
  }

  .logo {
    width: 138px;
    height: 80px;
    margin-right: auto;
  }
  .logo-link {
    margin-left: auto;
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }

  .nav-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
    letter-spacing: 0em;
    color: var(--second-accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #fdfdfd;
  }
  .signup {
    display: flex;
    justify-content: end;
  }
  .signup-item {
  }

  /* HERO */

  .slogan > .container {
    width: 1102px;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .slogan {
    background-size: cover;

    padding-top: 239px;
    padding-bottom: 154px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-1x.pc.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .box {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-2x.pc.jpg);
    }
  }

  .main-tittle {
    font-size: 68px;
    font-weight: 500;
    line-height: 1.32;
  }
  .main-tittl,
  .mt-span {
    text-align: center;
    display: inline-block;
    max-height: 90px;
  }
  .inline-title {
    display: flex;
  }
  .slogan-subtitle {
    margin-top: 32px;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.28;
  }

  /* ABOUT COMPANY */

  .about-company > .container {
    width: 1410px;
    max-width: 100%;
  }

  .about-company {
    padding-top: 92px;
    padding-bottom: 48px;
  }
  .about-company-title {
    font-size: 56px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0em;
  }

  .about-company-item {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.28;
  }

  .about-company-text {
    display: block;
    font-size: 20px;
    line-height: 1.6;
  }
}
