@media screen and (min-width: 1200px) {
  .container {
    width: 1440px;
  }

  .header > .container {
    max-width: 1360px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .header-menu {
    display: flex;
    flex-direction: column-reverse;
  }
  .header-navigation {
  }
  .logo-link {
    margin-right: auto;
  }
  .link {
  }
  .logo {
  }
  .nav-list {
    display: flex;
    gap: 40px;
  }
  .list {
  }
  .nav-item {
  }
  .nav-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.22;
    letter-spacing: 0em;
    color: var(--second-accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link:hover,
  .nav-link:focus {
    color: #fdfdfd;
  }
  .signup {
    display: flex;
    justify-content: end;
  }
  .signup-item {
  }
  .slogan {
  }
  .main-tittle {
  }
  .slogan-subtitle {
  }
}
