@media screen and (min-width: 1200px) {
  .container {
    width: 1440px;
  }

  .header > .container {
    max-width: 1440px;
    width: 100%;
  }

  .header {
    padding-top: 20px;
    padding-bottom: 22px;
  }

  .logo-link {
  }
  .link {
  }
  .logo {
  }
  .nav-list {
  }
  .list {
  }
  .nav-item {
  }
  .nav-link {
  }
  .signup {
  }
  .signup-item {
  }
  .slogan {
  }
  .main-tittle {
  }
  .slogan-subtitle {
  }
}
