<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <a href="./index.html" class="logo-link link">
          <svg class="logo" width="88" height="40">
            <use href="./images/symbol-defs.svg#icon-CBD"></use>
          </svg>
        </a>
        <div class="header-menu">
          <nav class="header-navigation">
            <ul class="nav-list list">
              <li class="nav-item">
                <a href="./index.html" class="nav-link link">About us</a>
              </li>
              <li class="nav-item">
                <a href="./services.html" class="nav-link link">Services</a>
              </li>
              <li class="nav-item">
                <a href="./portfolio.html" class="nav-link link">Portfolio</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link link">Clients</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link link">Store</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link link">Contacts</a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link link">Price</a>
              </li>
              <li class="nav-item">
                <a href="./events.html" class="nav-link link">Events</a>
              </li>
            </ul>
          </nav>
          <ul class="signup list">
            <li class="signup-item">
              <a href="" class="nav-link link">Sign-in</a>
            </li>

            <li class="signup-item line">
              <a href="" class="nav-link link">Sign-up</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section class="slogan">
      <div class="container">
        <h1>Organization of corporate events</h1>
        <p>
          Protocol of CBD meetings and events. We are the #1 corporate planning
          firm in Washington for international governments, diplomats and banks.
        </p>
        <button>More information</button>
      </div>
    </section>
    <section>
      <div class="container">
        <img src="" alt="" />
        <h3>About company</h3>
        <p>
          CBD Meetings & Events is Washington, DC's turnkey solution to complete
          event planning, event management and event marketing. CBD is the best
          integrated meeting planner for the international community. We proudly
          serve 8 countries on 5 continents. CBD manages events for diplomats,
          non-profit organizations, foundations and associations, corporations
          and individuals.
        </p>
        <button>More information</button>
        <p>You can find inspiration everywhere</p>
        <button>Chat</button>
      </div>
    </section>
    <section>
      <div class="container">
        <h3>The protocol of events and meetings</h3>
        <ul>
          <li>
            <p>1. Planning</p>
            <p>
              Content managers Conclusion of the contract Design concept Budget
              Pre-registration Public Relations Site selection Booking speakers
              Talent search
            </p>
          </li>
          <li>
            <p>2. Logistics</p>
            <p>
              Air travel Rental of decor Rental of ceremonial underwear Land
              transport Hotel reservation Printing Private security Staff
              support Communication with suppliers
            </p>
          </li>
          <li>
            <p>3. Implementation</p>
            <p>
              Gifts to participants Audiovisual Service Decor Marketing Photo
              Promotional goods Sound / Lighting Video shooting
            </p>
          </li>
          <li>
            <p>4. Management</p>
            <p>
              Contract management Destination management Logistics management
              Protocol management Away events Registration of participants on
              site Procurement Strategic management
            </p>
          </li>
        </ul>
      </div>
    </section>
    <section>
      <div class="container">
        <h3>Sophisticated design concepts</h3>
        <ul>
          <li>
            <a href=""><img src="" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="" alt="" /></a>
          </li>
          <li>
            <a href=""><img src="" alt="" /></a>
          </li>
        </ul>
        <button>More information</button>
      </div>
    </section>
    <section>
      <div class="container">
        <h3>Choice Services</h3>
        <ul>
          <li>Logistics and registration</li>
          <li>Destination management</li>
          <li>Discussion of place and object</li>
          <li>Service</li>
        </ul>
        <ul>
          <li>Audiovisual</li>
          <li>Sound and lighting</li>
          <li>Creative design and decor</li>
          <li>Photography and video recording</li>
        </ul>
      </div>
    </section>
    <section>
      <div class="container">
        <h3>Thematic events - unforgettable festive emotions</h3>
        <h4>We use the most modern design</h4>
        <p>
          The key to a great event is to make it memorable. At CBD, we use your
          brand concept and personality to create the mood and set the standard.
        </p>
        <p>
          There are NO cake cutting events here. Every design element is
          customized and we NEVER FORGET the small details.
        </p>
        <button>More information</button>
        <img src="" alt="" />
      </div>
    </section>
    <section>
      <div class="container">
        <h3>The latest news</h3>
        <ul>
          <li>
            <p>May 21, 2019</p>
            <img src="" alt="" />
            <p>How the event is planned</p>
          </li>
          <li>
            <p>August 21, 2019</p>
            <img src="" alt="" />
            <p>Information for finding an organizer</p>
          </li>
          <li>
            <p>August 28, 2019</p>
            <img src="" alt="" />
            <p>Meetings and events. Brochure</p>
          </li>
          <button>Get acquainted</button>
        </ul>
      </div>
    </section>
    <footer>
      <div class="container">
        <a href="./index.html" class="logo-link link">
          <svg class="logo" width="88" height="40">
            <use href="./images/symbol-defs.svg#icon-CBD"></use>
          </svg>
        </a>
        <ul>
          <li>
            <p>About CBD</p>
            <p>
              CBD is Washington's premier event planning management company for
              corporations, nonprofits, international governments and community
              events.
            </p>
          </li>
        </ul>
        <p>Event planning</p>
        <ul>
          <li>CBD meetings and events</li>
          <li>Event planning</li>
          <li>Services of the organization</li>
          <li>Gallery</li>
          <li>Cost</li>
          <li>Price</li>
        </ul>
        <p>Services for customers</p>
        <ul>
          <li>Planning a meeting</li>
          <li>Event planning</li>
          <li>Service</li>
          <li>Public Relations</li>
          <li>Marketing</li>
          <li>Venue</li>
          <li>Rental of materials</li>
          <li>Audiovisual</li>
          <li>Photo</li>
          <li>Registration</li>
          <li>Organization of events</li>
          <li>Sound and lighting</li>
          <li>Design concept</li>
          <li>Destination management</li>
        </ul>
        <p>Contacts</p>
        <ul>
          <li>CBD Meetings and individual events</li>
          <li>PO Box 76096</li>
          <li>Washington DC 20013</li>
          <li>Hotline</li>
          <li>+1 800-956-4514 area code 160</li>
          <li>Washington DC +1 202-742-5923</li>
          <li>Atlanta +1 404-806-0153</li>
          <li>info@cbdmeetings.com</li>
        </ul>
        <ul>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
        <ul>
          <li>Main</li>
          <li>Products</li>
          <li>Career</li>
          <li>Deadlines</li>
        </ul>
        <p>Redesign of the site 2022/2023</p>
      </div>
    </footer>
  </body>
</html>
